     3	Jack McCorkindale <jdm183@uclive.ac.nz>
     1	James <jcl165@uclive.ac.nz>
     2	Marina Filipovic <mfi31@cs22017avl.canterbury.ac.nz>
    28	Prableen Oberoi <pob16@uclive.ac.nz>
    24	Sonia <ycr14>
     1	Sonia Ra <ycr14@uclive.ac.nz>
    14	Yaoce Yang <yya139@uclive.ac.nz>
    13	Rory Holmes <rho66@uclive.ac.nz> rho66 <rho66@uclive.ac.nz>
