    38	Jack McCorkindale <jdm183@uclive.ac.nz> jdm183 <jdm183@uclive.ac.nz>
    24	James Claridge <jcl165@uclive.ac.nz> James <jcl165@uclive.ac.nz>
     3	Marina Filipovic <mfi31@cs22017avl.canterbury.ac.nz>
    40	Prableen Oberoi <pob16@uclive.ac.nz>
    35	Saskia van der Peet <sva73@uclive.ac.nz> Saskia van der Peet (sva73) <sva73@uclive.ac.nz>
    40	Sonia <ycr14>
     5	Sonia Ra <ycr14@uclive.ac.nz>
    14	Yaoce Yang <yya139@uclive.ac.nz>
    14	Rory Holmes <rho66@uclive.ac.nz> rho66 <rho66@uclive.ac.nz>
