/*
css for the body of each page
 */

.main{
    padding-left: min(15%, 250px);
    padding-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.project-card{
    border: #07173B !important;
    border-radius: 20px !important;
    border: 2px solid !important;
    border-color: #07173B;
    width: 100%;
}

.bdr {
    border-radius: 8px;
    overflow: hidden;
}

#name {
    display:inline-block;
}

.btn-group {
    padding-left: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*Holds the title of the page, consistent throughout the application*/
.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efb83c;
    border-radius: 15px;
    color: #07173B;

    height: 120px;
    padding-top: 6px;
}


a.project-name {
    font-size: 20px;
    color: #07173B;
}
/*Style consistent across all buttons.*/
.btn {
    width: auto;
    height: auto;
    border-radius: 40px !important;
}

.icon {
    vertical-align: -.1em !important;
}

.img-color-primary{
   filter: invert(8%) sepia(100%) saturate(7420%) hue-rotate(248deg) brightness(96%) contrast(143%);
}

.img-color-secondary{
    filter: invert(57%) sepia(8%) saturate(14%) hue-rotate(348deg) brightness(87%) contrast(92%);
}

.btn:hover > .icon{
    filter: invert(100%) sepia(75%) saturate(0%) hue-rotate(280deg) brightness(115%) contrast(101%);
}
/* Style for primary buttons which guide the user through common tasks*/
.btn-primary {
    color: white !important;
    background-color: #07173B !important;
    vertical-align: middle !important;
}



/* Secondary button, used for less frequent actions, i.e. deleting a project.*/
.btn-secondary {
    color: #07173B !important;
    background-color: white !important;

}


#back-btn{
    margin-top: 8px;
    margin-bottom: 18px;
    margin-left: 45px;

}
#create-btn {
    margin-left: 45px;
}

/* for invalid inputs in form*/
/*input:invalid{*/
/*    box-shadow: 0 0 5px 1px red;*/
/*}*/

.asterisk {
    color: red;
}

.formError {
    border-color: #ff0010 !important;
}

.error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.error-msg {
    width: 100%;
    text-align: justify;
    margin: 0;
    color: #8a0000;
}

.profilePhoto{
    margin-left: 200px;
}

.profile-photo {
    border-radius: 50%;
    object-fit: cover;
}

.fc-event-draggable {
    border-color: black;
    border-width: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-left-color: rgb(185, 182, 163);
    border-right-color: rgb(185, 182, 163);
  }

#edit-del-buttons {
    margin-left: auto;
}

.card-header {
    display: flex;
}

td {
    word-wrap: break-word;
    max-width: 180px;
}

.mobile-only{
    display:none
}
.desktop-only{
    display:table;
    width: 100%
}

@media (max-width:850px){
    .desktop-only{display:none}
    .mobile-only{display:block}
}

/* Sort button styles from https://codepen.io/xaprio/pen/NWPXwOj */
th a.sort { 
	padding-right: 18px;
	position: relative;
}
a.sort:before,
a.sort:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	right: 5px;
	top: 50%;
	position: absolute;
}
a.sort:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort:after {
	border-top-color: #666;
	margin-top: 1px;
}
a.asc.sort:after {
    border-top-color: #333;
}
a.desc.sort:before {
    border-bottom-color: #333;
}
a.asc.sort:before {
    border: unset;
}
a.desc.sort:after {
    border: unset;
}

/* for screen sizes less than 415 */
@media screen and (max-width: 415px) {

    #accountPage-font, #editAccountPage-font, #projectForm-font{
        font-size: 25px !important;
    }
} 
 