/*
css for the body of each page
 */

.main{
    padding-right: 40px;
    padding-left: 300px;
    padding-top: 60px;
}

/*
.current_projects{
    display: inline-block;
    width: 100px;
    border: #dedede;
    border-radius: 8px;
    border: 1px solid;

    text-align: center;
}

 */

.project-card{
    /*!*max-width: 18rem;*! not sure so i just took it out, */
    border: #07173B !important;
    border-radius: 20px !important;
    border: 2px solid !important;
    border-color: #07173B;
}

.bdr {
    border-radius: 8px;
    overflow: hidden;
}

#name {
    display:inline-block;
}

.btn-group {
    padding-left: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*Holds the title of the page, consistent throughout the application*/
.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0B92A;
    border-radius: 15px;
    color: #07173B;

    height: 120px;
    padding-top: 6px;
}


a.project-name {
    font-size: 20px;
    color: #07173B;
}
/*Style consistent across all buttons.*/
.btn {
    width: 240px;
    height: 32px;
    border-radius: 40px !important;
    border: 2px solid #07173B !important;
    font-size: 20px !important;
    margin-left: 10px;
}

/* Style for primary buttons which guide the user through common tasks*/
.btn-primary {
    background-color: #07173B !important;
    vertical-align: middle !important;
}

/* Secondary button, used for less frequent actions, i.e. deleting a project.*/
.btn-secondary {
    color: #07173B !important;
    background-color: transparent !important;

}