/*
css for the fixed elements on each page
header, sidebar
 */

#sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 0 0 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #CEDCE6;
    max-width: 250px;
    width:15%;

}

#navbarDropdown {
    color: white;
}



#hamburger-toggle{
    display: none;
}
@media screen and (max-width: 820px) {
    /*.current_projects{*/
    /*    margin-left: 0%;*/
    /*}*/
    .main {
        /*margin-left: 0%;*/
        padding-left: 0%;
    }
    #hamburger-toggle {
        display: inline;
    }
    /*.page-title {*/
    /*    margin-left: 0%;*/
    /*}*/


    #sidebar {
        display: none;
    }
}

/*.sidebarshow {*/
/*    */
/*}*/