* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contentSquare {
    width: 50%;
    height: auto;
    background-color: white;
    margin: 100px auto;
    border-radius: 30px;
    /*margin-top:100px;*/
}

.contentAccount {
    /*width: 100%;*/
    height: auto;
    background-color: white;
    margin: 100px auto;
    border-radius: 30px;
    /*margin-top:100px;*/
}

.btn {
    width: auto;
    height: auto;
    border-radius: 40px !important;
}

.icon {
    vertical-align: -.1em; !important;
}


.img-color-primary{
    filter: invert(8%) sepia(100%) saturate(7420%) hue-rotate(248deg) brightness(96%) contrast(143%);
}

.img-color-secondary{
    filter: invert(57%) sepia(8%) saturate(14%) hue-rotate(348deg) brightness(87%) contrast(92%);
}
.btn:hover > .icon{
    filter: invert(100%) sepia(75%) saturate(0%) hue-rotate(280deg) brightness(115%) contrast(101%);
}

.page-title-container {
    width:80%;
    margin: 40px auto;
    height:130px;
    background:#efb83c;
    border-radius: 30px 30px 30px 30px;

    text-align: center !important;;
    padding-top: 45px !important;;
}

.page-title, .page-instruction {
    font-family: 'Poppins', sans-serif;
    color: #07173b;
}


.login-container, .contentContainer {
    align-items: center;
    margin: auto;
    text-align: left;
    width:80%;
    padding-left: 5%;
    padding-right: 5%;

    border-radius: 30px;
    border-color: #07173B;
    border-style: solid;
    border-width: 2px;
}

.page-instruction {
    margin: 20px auto;
    font-size: 18px;
}

#login-form, #registration_form, #content {
    margin: auto;
    color: #07173B;
    display: inline-block;
    padding-bottom: 30px;
    width:100%;
}

label {
    text-align: left;
}

.form-control{
    border-radius: 64px;
    color: #07173B;
    width:100%;
    height: 24px;
    border-color: #07173B;
    padding-left: 8px;
    border-width: 2px;
    border-style: solid;
}

.formError {
    border-color: #ff0010 !important;
}

.form_submit{
    width: 100%;
    height: 28px;
    background: #07173B;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    border-color: #07173B;
    border-style: solid;
    cursor: pointer;
}

.error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.error-msg {
    width: 100%;
    text-align: justify;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    color: #8a0000;
}

.no-account-warning{
    color: #07173B;
    width:100%;
}

.no-account-question {
    float: left;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    color: #07173B;

}

.signup-button, .close-signup {
    text-decoration: none;
    border-color: #07173B;
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    width: 120px;
    height: 28px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    background-color: #07173B;
    color: white;
}

#login-btn {
    background-color: white;
    color: #07173B;

}

#register-btn{
    background-color: #07173B;
    border-color: #07173B;
}

#login-form-submit{
    background-color: #07173B;
    border-color: #07173B;
}

.close-signup {
    background-color: white;
    color: #07173B;
}



.required:after {
    content:"*";
    color: red;
}

.date-color {
    color: #07173B !important;
}

.date-font {
    font-size:15px !important;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 950px) {
    .login_square, .login-container{
        width: 90%;
    }

    .box1 {
        padding: 10px 10px;
    }
}
