<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/javascript/header.js"></script>
    </head>
    <body>
    <header>
        <div id="brand">
            <h1>LENSfolio</h1>
        </div>
        <nav>
            <ul>
                <a href="dashboard"><li><img src="/icons/home-icon.svg" alt="Home" height=28 width=28></li></a>
                <a href="">
                    <li>
                        <div class="container">
                            <div class="username">
                                <p>Username</p>
                            </div>
                            <div class="icon">
                                <img src="/icons/user-icon.svg" alt="Account" height="28 width=28">
                            </div>
                        </div>
                    </li>
                </a>
            </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                <li><a href="" style="color: #07173B">Home</a></li>
                <li><a href="" style="color: #07173B">Account</a></li>

            </ul>
        </div>
    </header>
        <main class="content_square">
            <div class="box1">
                <div class="page-title">
                    <h2>Welcome back to LENSfolio <span th:text="${firstName}"></span></h2>
                </div>
            </div>
            <div class="content_container">
                <nav id="sidebar" class="sidebar"></nav>
                <div id="content">
                    <h3>Username: <span th:text="${username}"></span></h3>
                    <h3>First Name: <span th:text="${firstName}"></span></h3>
                    <h3>Last Name: <span th:text="${lastName}"></span></h3>
                    <h3>Role/s: <span th:text="${roles}"></span></h3>
                    <h3>Nickname/s: <span th:text="${nickname}"></span></h3>
                    <h3>Email Address: <span th:text="${email}"></span></h3>
                    <h3>Biography: <span th:text="${bio}"></span></h3>
                    <h3>Pronouns: <span th:text="${pronouns}"></span></h3>
                </div>
            </div>
            <a href="/logout">Logout</a>
        </main>
    </body>
</html>