<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom css for body-->
    <link rel="stylesheet" type="text/css" th:action="@{~/css/body.css}"/>
    <link rel="stylesheet" type="text/css" th:action="@{~/css/header.css}"/>

</head>
<header>
    <div th:if="${user}">
        <div th:replace="fragments :: header"></div>
    </div>
    <div th:unless="${user}">
        <div th:replace="fragments :: login-header"> </div>
    </div>
</header>
<div th:if="${user}">
    <div th:replace="fragments :: error-logged-in"></div>
</div>
<div th:unless="${user}">
    <div th:replace="fragments :: error"> </div>
</div>

<body>
<div class="main">
    <br>
    <div class="page-title">
        <h2>Oops there has been an error!</h2>
    </div>

</div>
<!--Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
