<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>LENSfolio - Groups</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom css for body-->
    <link th:href="@{{apiPrefix}/css/body.css(apiPrefix=${apiPrefix})}" rel="stylesheet" type="text/css" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css}" rel='stylesheet' type="text/css" />
</head>
<!--fragments-->
<header>
    <div th:replace="fragments :: header"></div>
</header>
<div th:replace="fragments :: sidebar"></div>

<body>
    <div class="main">
        <div class="page-title">
            <h2 id="title">[[${group.shortName}]] Group Page</h2>
            <h4 id="longTitle">[[${group.longName}]]</h4>
        </div>
        <div class="alert alert-danger text-center" id="messageDanger">[[${messageDanger}]]</div>
        <div class="alert alert-success text-center" id="messageSuccess">[[${messageSuccess}]]</div>

        <div class="" id="settings-container">
            <div class="row mt-3">
                <div id="settings-content" class="col-8" th:fragment="groupList">
                    <div class="card project-card mb-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="members-tab" data-bs-toggle="tab"
                                                data-bs-target="#members-tab-pane" type="button" role="tab"
                                                aria-controls="members-tab-pane" aria-selected="true">Members</button>
                                        </li>
                                        <li class="nav-item" role="presentation" th:if="${adminOrTeacher || group.members.contains(user)}">
                                            <button class="nav-link" id="repo-settings-tab" data-bs-toggle="tab"
                                                data-bs-target="#repo-settings-tab-pane" type="button" role="tab"
                                                aria-controls="repo-settings-tab-pane" aria-selected="false">Repo
                                                Settings</button>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="members-tab-pane" role="tabpanel"
                                            aria-labelledby="members-tab" th:insert="groupFragments::groupUserList"></div>
                                        <div class="tab-pane fade" id="repo-settings-tab-pane" role="tabpanel"
                                            aria-labelledby="repo-settings-tab"
                                            th:insert="groupFragments::repoSettings" th:if="${adminOrTeacher || group.members.contains(user)}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recent-actions-container" class="col-4" th:fragment="groupList">
                    <div class="card project-card mb-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card-body">
                                    <h5 class="text-center">Recent actions</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let apiPrefix = [[${ apiPrefix }]];
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script th:src="@{{apiPrefix}/javascript/group.js(apiPrefix=${apiPrefix})}"></script>
</body>



</html>