<div class="table-border table-responsive bdr" th:fragment="groupUserList" id="userListDataTable">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col" style="width:auto">Username</th>
                <th scope="col" style="width:auto">Name</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="user : ${group.members}">
                <tr th:draggable="${adminOrTeacher?true:false}" ondragstart="userDragStart(event)" class="user-row"
                    th:id="'user' + ${user.userId} + 'Row'" th:fragment="userFragment"
                    th:role="${adminOrTeacher?'button':''}" th:onclick="'selectUser(event)'">
                    <td hidden class="userId" th:text="${user.userId}"></td>
                    <td th:id="'user' + ${user.userId} + 'username'">
                        <img th:src="${user.profileImagePath}" th:alt="'User' + ${user.userId} + 'profile photo'"
                            height="28 width=20" class="d-inline-block align-text-top profile-photo">
                        [[${user.username}]]
                    </td>
                    <td th:id="'user' + ${user.userId} + 'fullname'">
                        [[${user.firstName}]] [[${user.lastName}]]
                    </td>
            </th:block>
        </tbody>
    </table>
</div>

<div class="card project-card" id="group" th:fragment="group">
    <input type="hidden"
        th:value="${group.groupId!=0?group.groupId:(group.shortName.contains('Teaching Staff')?'teachers':'unassigned')}"
        id="groupId">
    <div class="container-fluid">
        <div class="row">
            <div class="card-body">
                <div class="container mb-2">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <h3 id="group-name" class="card-title" th:text="${group.shortName}" />

                            <div id="group-dropdown" class="dropdown">
                                <button class="btn btn-secondary" href="javascript:void(0);" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <h5 class="dropdown-toggle" th:text="${group.shortName}" role="button"></h5>
                                </button>

                                <ul class="dropdown-menu">
                                    <th:block th:each="group : ${listGroups}">

                                        <li class="dropdown-item"
                                            th:if="${group.groupId == 0} and ${group.shortName.contains('Teaching Staff')}">
                                            <a role="button" class="project-name" href="javascript:void(0);"
                                                th:onclick="getGroup('teachers')" th:text="${group.shortName}"></a>
                                        </li>
                                        <li class="dropdown-item"
                                            th:if="${group.getGroupId() == 0} and ${group.shortName.contains('Members without a group')}">
                                            <a role="button" class="project-name" href="javascript:void(0);"
                                                th:onclick="getGroup('unassigned')" th:text="${group.shortName}"></a>
                                        </li>
                                        <li class="dropdown-item" th:if="${group.getGroupId() != 0}">
                                            <a role="button" class="project-name" href="javascript:void(0);"
                                                th:onclick="'getGroup(' + ${group.groupId} + ')'"
                                                th:text="${group.shortName}"></a>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>

                            <h5 class="card-title d-none d-md-block" th:text="${group.longName}" />
                        </div>
                        <div th:if="${group.getGroupId() != 0}" class="col-2">
                            <div class="dropdown float-right">
                                <a id="group-settings-icon" href="#" class="text-decoration-none"
                                    data-bs-toggle="dropdown">
                                    <img class="icon img-color-secondary"
                                        th:src="@{{apiPrefix}/icons/three-dots.svg(apiPrefix=${apiPrefix})}" />
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                            th:href="@{${apiPrefix} + '/group/'+ ${group.groupId}}">
                                            <img class="icon img-color-secondary"
                                                th:src="@{{apiPrefix}/icons/arrow-right-short.svg(apiPrefix=${apiPrefix})}" />
                                            Navigate To Group</a>
                                    </li>

                                    <li th:if="${adminOrTeacher}">
                                        <a id="edit-group-btn" type="button" class="dropdown-item"
                                            data-bs-toggle="modal" data-bs-target="#editModal">
                                            <img class="icon img-color-secondary"
                                                th:src="@{{apiPrefix}/icons/edit-icon.svg(apiPrefix=${apiPrefix})}" />
                                            Edit</a>
                                    </li>

                                    <li th:if="${adminOrTeacher}">
                                        <a id="delete-group-btn" class="dropdown-item" href="#" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal">
                                            <img class="icon img-color-secondary"
                                                th:src="@{{apiPrefix}/icons/trash-icon.svg(apiPrefix=${apiPrefix})}" />
                                            Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div th:if="${group.groupId != 0 && adminOrTeacher}" class="container-fluid my-2 p-0 d-none d-md-block">
                            <button id="remove-users" type="button" class="btn btn-outline-secondary"
                                th:onclick="'removeUsers(' + ${group.groupId} + ')'" disabled>
                                Remove selected users
                            </button>
                        </div>
                        <div th:if="${group.shortName.contains('Teaching Staff') && adminOrTeacher}" class="container-fluid p-0 my-2">
                            <button id="remove-users" type="button" class="btn btn-outline-secondary"
                                th:onclick="'removeUsers(-1)'" disabled>
                                Remove selected users
                            </button>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="members-tab" data-bs-toggle="tab" data-bs-target="#members"
                            type="button" role="tab" aria-controls="members" aria-selected="true">Members</button>
                    </li>

                    <li th:if="${adminOrTeacher && group.groupId != 0}" class="nav-item" role="presentation">
                        <button class="nav-link" id="edit-group-tab" data-bs-toggle="tab" data-bs-target="#edit-group"
                            type="button" role="tab" aria-controls="edit-group" aria-selected="false">Edit
                            Group</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="members" role="tabpanel" aria-labelledby="members-tab">
                        <span th:replace="groupsFragments::groupUserList"></span>
                    </div>
                    <div class="tab-pane" id="edit-group" role="tabpanel" aria-labelledby="edit-group-tab"
                        th:if="${adminOrTeacher}">
                        <div class="container-fluid pt-2">
                            <button id="edit-group-btn" type="button" class="btn btn-outline-primary me-2"
                                data-bs-toggle="modal" data-bs-target="#editModal">
                                <img class="icon img-color-primary"
                                    th:src="@{{apiPrefix}/icons/edit-icon.svg(apiPrefix=${apiPrefix})}" />
                                Edit</button>
                            <button id="delete-group-btn" type="button" class="btn btn-outline-secondary"
                                data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <img class="icon img-color-secondary"
                                    th:src="@{{apiPrefix}/icons/trash-icon.svg(apiPrefix=${apiPrefix})}">
                                Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="groupModals">
        <span th:replace="::deleteGroupModal"></span>
        <span th:replace="::editGroupModal"></span>
    </div>
</div>

<div th:fragment="createGroupComponent">

    <button type="button" class="btn btn-outline-primary ms-0 mb-1" id="create-btn" data-bs-toggle="modal"
        data-bs-target="#createModal">
        <img class="icon img-color-primary" th:src="@{{apiPrefix}/icons/create-icon.svg(apiPrefix=${apiPrefix})}" />
        Create Group
    </button>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="conformationModalCenterTitle"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="conformationModalLongTitle">Create Group</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center" id="createModalError"></div>
                    <div class="groupForm">
                        <form id="createGroupForm" onsubmit="createGroup();return false" th:object="${groups}"
                            th:action="@{{apiPrefix}/groups(apiPrefix=${apiPrefix})}" name="createGroupForm">
                            <span th:replace="::groupFormSharedContent(${null})"></span>
                            <div class="modal-footer">
                                <button type="submit" id="save-submit-button" class="btn btn-outline-primary me-3">
                                    <img class="icon img-color-primary"
                                        th:src="@{{apiPrefix}/icons/create-icon.svg(apiPrefix=${apiPrefix})}" />
                                    Create</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    <img class="icon img-color-secondary"
                                        th:src="@{{apiPrefix}/icons/close-icon.svg(apiPrefix=${apiPrefix})}" />
                                    Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="conformationModalCenterTitle"
    aria-hidden="true" th:fragment="editGroupModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="conformationModalLongTitle" th:text="'Edit Group' + ${group.shortName}">
                    Edit Group</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger text-center" id="editModalError"></div>
                <div class="groupForm">
                    <form id="editGroupForm" onsubmit="saveGroup();return false" th:object="${group}"
                        th:action="@{{apiPrefix}/groups(apiPrefix=${apiPrefix})}">
                        <input hidden type="number" name="groupId" th:value="${group.groupId}" required>
                        <span th:replace="::groupFormSharedContent(${group})"></span>
                        <div class="modal-footer">
                            <button type="submit" id="save-submit-button" class="btn btn-outline-primary me-3"
                                data-bs-dismiss="modal">
                                <img class="icon img-color-primary"
                                    th:src="@{{apiPrefix}/icons/save-icon.svg(apiPrefix=${apiPrefix})}" />
                                Save</button>
                            <button id="editModalClose" type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">
                                <img class="icon img-color-secondary"
                                    th:src="@{{apiPrefix}/icons/close-icon.svg(apiPrefix=${apiPrefix})}" />
                                Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
    aria-hidden="true" th:fragment="deleteGroupModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="conformationModalLongTitle">Delete Group</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="delete-message"
                    th:utext="'Are you sure you want to delete this group? <br/>It will remove ' + ${#lists.size(group.members)} + ' members from the group.<br/>This action cannot be undone.'">
                </p>
            </div>
            <div class="modal-footer">
                <button id="delete-group-btn" class="btn btn-outline-primary"
                    th:onclick="'deleteGroup(' + ${group.groupId} + ')'" data-bs-dismiss="modal">
                    <img class="icon img-color-primary"
                        th:src="@{{apiPrefix}/icons/trash-icon.svg(apiPrefix=${apiPrefix})}" />
                    Delete
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <img class="icon img-color-secondary"
                        th:src="@{{apiPrefix}/icons/close-icon.svg(apiPrefix=${apiPrefix})}" />
                    Close</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="groupFormSharedContent(formGroup)">

    <div class="mb-3" >
        <label  class="col-form-label required">Group Short Name</label>
        <input th:readonly="${!adminOrTeacher}" type="text" class="form-control required" name="shortName" oninput="checkShortName(event)"
            th:value="${formGroup!=null?formGroup.shortName:''}" id="shortName" maxlength="50"
            placeholder="Short Group Name" required>
        <span id="charCount" th:value="${charCount}"
            th:text="${formGroup!=null?#strings.length(formGroup.shortName):0}"> </span> / 50
        characters used.
        <p id="shortNameError" th:text="${shortNameError}" class="error-msg"></p>
    </div>
    <div class="mb-3">
        <label class="form-label required">Group Long Name</label>
        <input type="text" class="form-control mt-50" th:value="${formGroup!=null?formGroup.longName:''}"
            name="longName" id="longName" placeholder="Long Group Name" maxlength="100" rows="6"
            oninput="checkLongName(event)" required />
        <span id="charCountLong" th:value="${charCount}"
            th:text="${(formGroup!=null&&formGroup.longName!=null)?#strings.length(group.longName):0}">
        </span> / 100 characters used.
        <p id="longNameError" th:text="${longNameError}" class="error-msg">
        </p>
    </div>
</div>