<div th:fragment="repoSettings">
    <form onsubmit="saveRepoSettings(event)" name="repoSettingsForm">
        <div class="form-group">
            <input type="hidden" name="repoId" th:value="${repo.repoId}" />
            <label for="git-project-name" class="col-form-label">Project Name</label>
            <input type="text" class="form-control" id="git-project-name" disabled></input>

            <label for="git-alias" class="col-form-label required">Project Alias</label>
            <input type="text" class="form-control" id="git-project-alias" required name="repoName" th:value="${repo.repoName}"></input>

            <label for="git-project-id" class="col-form-label required">Project Id</label>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="This is found under the repo's name."><img
                    class="icon img-color-primary"
                    th:src="@{{apiPrefix}/icons/question-circle.svg(apiPrefix=${apiPrefix})}" /></span>
            <input type="number" class="form-control" id="git-project-id" required name="gitlabProjectId" th:value="${repo.gitlabProjectId}"></input>

            <label for="git-access-token" class="col-form-label">Project access token</label>
            <span data-bs-toggle="tooltip" data-bs-placement="top"
                title="This is needed for private repos. Generate this in your repo's settings page."><img
                    class="icon img-color-primary"
                    th:src="@{{apiPrefix}/icons/question-circle.svg(apiPrefix=${apiPrefix})}" /></span>
            <input type="text" class="form-control" id="git-access-token" name="accessToken" th:value="${repo.accessToken}"></input>

            <label for="git-host-address" class="col-form-label required">Project host address</label>
            <span data-bs-toggle="tooltip" data-bs-placement="top"
                title="This is the host of your repo (e.g. https://github.com)."><img class="icon img-color-primary"
                    th:src="@{{apiPrefix}/icons/question-circle.svg(apiPrefix=${apiPrefix})}" /></span>
            <input type="text" class="form-control" id="git-host-address" required name="hostAddress" th:value="${repo.hostAddress}"></input>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="submit-repo">Submit</button>
    </form>
    <p id="connection-message">No connection attempt has been made.</p>
</div>

<div class="table-border table-responsive bdr" th:fragment="groupUserList" id="userListDataTable">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col" style="width:auto">Username</th>
                <th scope="col" style="width:auto">Name</th>
                <th scope="col" style="width:auto">Roles</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="user : ${group.members}">
                <tr class="user-row" th:id="'user' + ${user.userId} + 'Row'" th:fragment="userFragment">
                    <td hidden class="userId" th:text="${user.userId}"></td>
                    <td th:id="'user' + ${user.userId} + 'username'">
                        <img th:src="${user.profileImagePath}" th:alt="'User' + ${user.userId} + 'profile photo'"
                            height="28 width=20" class="d-inline-block align-text-top profile-photo">
                        [[${user.username}]]
                    </td>
                    <td th:id="'user' + ${user.userId} + 'fullname'">
                        [[${user.firstName}]] [[${user.lastName}]]
                    </td>
                    <td th:id="'user' + ${user.userId} + 'Roles'">
                        <ul style="list-style-type: none">
                            <th:block th:each="role : ${user.getRoles()}">
                                <li style="padding-bottom:3%; display:inline"
                                    th:id="'user' + ${user.userId} + 'Role' + ${role}">
                                    <button class="btn btn-outline-secondary btn-sm" disabled>
                                        [[${role.getNumber() == 2 ? 'Course Admin' : role.name().substring(0,1) +
                                        role.name().substring(1, role.name.length()).toLowerCase()}]]
                                    </button>
                                </li>
                            </th:block>
                        </ul>
                    </td>
            </th:block>
        </tbody>
    </table>
</div>