<div th:fragment="repoSettings">
    <form onsubmit="connectTest(event)">
        <div class="form-group">
            <label for="git-project-id" class="col-form-label required">Project Id</label>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="This is found under the repo's name."><img
                    class="icon img-color-primary"
                    th:src="@{{apiPrefix}/icons/question-circle.svg(apiPrefix=${apiPrefix})}" /></span>
            <input type="number" class="form-control" id="git-project-id" required></input>

            <label for="git-access-token" class="col-form-label">Project access token</label>
            <span data-bs-toggle="tooltip" data-bs-placement="top"
                title="This is needed for private repos. Generate this in your repo's settings page."><img
                    class="icon img-color-primary"
                    th:src="@{{apiPrefix}/icons/question-circle.svg(apiPrefix=${apiPrefix})}" /></span>
            <input type="text" class="form-control" id="git-access-token"></input>

            <label for="git-host-address" class="col-form-label required">Project host address</label>
            <span data-bs-toggle="tooltip" data-bs-placement="top"
                title="This is the host of your repo (e.g. https://github.com)."><img class="icon img-color-primary"
                    th:src="@{{apiPrefix}/icons/question-circle.svg(apiPrefix=${apiPrefix})}" /></span>
            <input type="text" class="form-control" id="git-host-address" required></input>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="submit-repo">Submit</button>
    </form>
    <p id="connection-message">No connection attempt has been made.</p>
</div>

<div class="table-border table-responsive bdr" th:fragment="groupUserList" id="userListDataTable">
    <table class="table table-bordered table-hover">
        <thead class = "table-light">
            <tr>
                <th scope="col" style="width:auto">Username</th>
                <th scope="col" style="width:auto">Name</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="user : ${group.members}">
                <tr th:draggable="${adminOrTeacher?true:false}" ondragstart="userDragStart(event)" class="user-row" th:id="'user' + ${user.userId} + 'Row'" th:fragment="userFragment" th:role="${adminOrTeacher?'button':''}" th:onclick="'selectUser(event)'">
                    <td hidden class="userId" th:text="${user.userId}"></td>
                    <td th:id="'user' + ${user.userId} + 'username'">
                        <img th:src="${user.profileImagePath}" th:alt="'User' + ${user.userId} + 'profile photo'" height="28 width=20" class="d-inline-block align-text-top profile-photo">
                        [[${user.username}]]
                    </td>
                    <td th:id="'user' + ${user.userId} + 'fullname'">
                        [[${user.firstName}]] [[${user.lastName}]]
                    </td>
            </th:block>
        </tbody>
    </table>
</div>