<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/loginStylesheet.css">

    <title>LENSfolio</title>
</head>

<body>
<header>
        <div id="brand">
            <h1>LENSfolio</h1>
        </div>
        <nav>
            <ul>
                <a href=""><li><img src="home-icon.svg" alt="Home" height=28 width=28></li></a>
                <a href="">
                    <li>
                        <div class="container">
                            <div class="username">
                                <p>Username</p>
                            </div>
                            <div class="icon">
                                <img src="user-icon.svg" alt="Account" height="28 width=28">
                            </div>
                        </div>
                    </li>
                </a>
            </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                    <li><a href="" style="color: #07173B">Home</a></li>
                    <li><a href="" style="color: #07173B">Account</a></li>

            </ul>
        </div>
</header>
<script src="header.js"></script>
</body>
</html>