<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - LENSfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/loginStylesheet.css">
</head>

<body>
    <header>
        <div class="inner">
            <div class="logo">
                <div>
                    <h1>LENS<span>folio</span></h1>
                </div>
            </div>
            <nav>
                <a href=""><li><img src="home-icon.svg" alt=”Home” height=50 width=30></li></a>
                <a href=""><li><img src="user-icon.svg" alt="Account" height="30 width=30"></li></a>
            </nav>
        </div>
    </header>
</body>
</html>