<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LENSfolio - Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/loginStyle.css" />
    </head>
    <body>
<!--        <p th:text="${loginMessage}" />-->

        <header>
            <div id="brand">
                <h1>LENSfolio</h1>
            </div>
        </header>
        <div class="login_square">
            <div class="box1">
                <div class-="page-title">
                    <h2>Welcome back to LENSfolio</h2>
                </div>
            </div>
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password">
                <input type="submit" value="Sign In">
            </form>
        </div>
    </body>
</html>