<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Custom css for body-->
  <link rel="stylesheet" type="text/css" th:href="@{/body.css}" href="/css/body.css"/>

  <!-- do not include fragments that are not in use PARSING ERROR -->
  <!--<head th:replace="fragments :: content"></head>-->
</head>

<!--fragments-->
<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: menu"></div>

<body>
<div class="main">
  <h2 id="name">Project Name</h2>
  <!--<p>Project Description</p>-->
  <!--<h1 th:text="${newproject}"/>-->
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Details</button>
    <button type="button" class="btn btn-secondary">Calender</button>
  </div>
  <h2></h2>
  <br>

  <div class="card">
    <div class="card-header">
      Project Description   01/02/2022 - 03/02/2022
    </div>
    <div class="card-body">
      <h5 class="card-title">Group project for 2022</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, velit et vehicula gravida,
        dolor lorem semper velit, id posuere sapien nibh a dui. Suspendisse sapien diam, sollicitudin ac placerat vel,
        rutrum at arcu. Maecenas finibus blandit erat tincidunt venenatis. Curabitur cursus sed neque molestie ornare.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus quis lacus libero. Nullam mattis tempor dui,
        semper fringilla felis ullamcorper ut. Mauris laoreet laoreet lacus a volutpat.  </p>
      <!--<a href="./calender" class="btn btn-primary">Edit details</a>-->
    </div>
  </div>

  <br>
  <br>
  <div class = "sprint_header">
    <!-- use span to make header and button on same line-->
    <h3>Sprints <span class="pull-right">
            <!-- Button trigger modal for new sprints-->
            <a class="btn btn-primary" th:href="@{ '/project/' + ${projectId} + '/newSprint'}"> + </a>

            </span></h3>
  </div>



  <br>

  <!-- Table for sprints -->
  <div class="table-border bdr">
    <table class="table table-bordered table-hover">
      <thead class = "table-light">
      <tr>
        <th scope="col">Sprint Number</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <!-- placeholders
      <tr>
          <th scope="row">Sprint 1</th>
          <td>focus on gui</td>
          <td>02/02/2022</td>
          <td>03/02/2022</td>
      </tr>
      <tr>
          <th scope="row">Sprint 2</th>
          <td>combine with database</td>
          <td>05/02/2022</td>
          <td>06/02/2022</td>
      </tr>
      -->
      <th:block th:each="sprint : ${listSprints}">
        <tr>
          <td>[[${sprint.sprintId}]]</td>
          <td>[[${sprint.description}]]</td>
          <td>[[${sprint.startDate}]]</td>
          <td>[[${sprint.endDate}]]</td>
          <td>
            <a class="btn btn-primary" th:href="@{ ${projectId} + '/editSprint/' + ${sprint.sprintId}}">Edit</a>
            <a class="btn btn-primary" th:href="@{ ${projectId} + '/deleteSprint/' + ${sprint.sprintId}}">Delete</a>
          </td>

        </tr>

      </th:block>
      <!--
      <th scope="row">Sprint 3</th>
      <td th:text="${newSprint.description}"></td>
      <td th:text="${newSprint.startDate}"></td>
      <td th:text="${newSprint.endDate}"></td>
      -->

      </tbody>
    </table>
  </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
