<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom css for body-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" href="/css/body.css"/>

    <!-- do not include fragments that are not in use PARSING ERROR -->
    <!--<head th:replace="fragments :: content"></head>-->
    <title>[[${pageTitle}]]</title>
    <style>
        .required:after {
            content:"*";
            color: red;
        }
    </style>
</head>

<!--fragments-->
<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: menu"></div>

<body>
<div class="main">
    <br>
    <div class="page-title">
        <h2>[[${pageTitle}]]</h2>
    </div>
    <div class="projectForm">
        <form id="createProjectForm" th:action="@{/dashboard/saveProject}" method="post" th:object="${project}" >
            <input type="hidden" th:field="*{projectId}">

            <div class="mb-3">
                <label for="project-name" class="col-form-label required">Project Name</label>
                <input style="font-size:20px;" type="text" class="form-control required" id="project-name" placeholder="Project" th:field="*{projectName}" required> <!---maxlength="30" minlength="1" add min and max input length?--->
            </div>

            <div style="height:30px;" class="row">

                <div class="col-md-6 ms-auto">
                    <label style="font-size:15px;" for="startDate" class="form-label required">Start Date</label>
                </div>
                <div class="col-md-6 ms-auto">
                    <label style="font-size:15px;" for="endDate" class="form-label required">End Date</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ms-auto">
                    <input style="font-size:15px;" type="date" class="form-control" id="startDate" th:field="*{startDate}" required>
                </div>
                <div class="col-md-6 ms-auto">
                    <input style="font-size:15px;" type="date" class="form-control" id="endDate" th:field="*{endDate}" required>
                </div>
            </div>

            <br>
            <div class="mb-3">
                <label style="font-size:20px;" for="inputProjectDescription" class="form-label">Project Description</label>
                <textarea class="form-control mt-50" id="inputProjectDescription" rows="5" th:field="*{description}"></textarea>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col pull-right">
                            <button type="submit" value="Submit" class="btn btn-primary float-right">[[${submissionName}]]</button>
                        </div>
                        <div class="col pull-right">
                            <a class="btn btn-secondary float-right" href="/dashboard">Close</a>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </form>
    </div>
    <div style="height:30px; colour:Grey">
    </div>
</div>
<script type="text/javascript">

    function initialDateSetup() {
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        const startDateInput = document.querySelector('#startDate')
        const endDateInput = document.querySelector('#endDate')

        const startDateMin = new Date();
        startDateMin.setFullYear(startDateMin.getFullYear() - 1);

        const startDateMinStr = startDateMin.getFullYear() + '-' + formatDate(startDateMin.getMonth() + 1) +
                                '-' + formatDate(startDateMin.getDate());

        const endDateMin = new Date(Date.parse(startDate));
        endDateMin.setDate(endDateMin.getDate() + 1);

        const startDateMax = new Date(Date.parse(endDate));
        startDateMax.setDate(startDateMax.getDate() - 1);
        const startDateMaxStr = startDateMax.getFullYear() + '-' + formatDate(startDateMax.getMonth() + 1) +
            '-' + formatDate(startDateMax.getDate());

        const endDateMinStr = endDateMin.getFullYear() + '-' + formatDate(endDateMin.getMonth() + 1) +
                                '-' + formatDate(endDateMin.getDate());

        startDateInput.setAttribute('max', startDateMaxStr);
        startDateInput.setAttribute('min', (startDateMinStr));
        endDateInput.setAttribute('min', endDateMinStr);
    }
    const startDateElement = document.querySelector('#startDate');

    function formatDate(date) {
        let newDate = (date);
        if (newDate<10){
            newDate= '0' +newDate;
        }

        return newDate;
    }
    startDateElement.addEventListener('change', (event) => {
        const startDate = document.getElementById("startDate").value
        const endDate = document.querySelector('#endDate');

        const endDateMin = new Date(Date.parse(startDate));
        endDateMin.setDate(endDateMin.getDate() + 1);

        const endDateMinStr = endDateMin.getFullYear() + '-' + formatDate(endDateMin.getMonth() + 1) +
            '-' + formatDate(endDateMin.getDate());


        endDate.setAttribute("min", endDateMinStr);
    });

    const endDateElement = document.querySelector('#endDate');

    endDateElement.addEventListener('change',(event) => {
        const endDate = document.getElementById("endDate").value
        const startDate = document.querySelector('#startDate')

        const startDateMax = new Date(Date.parse(endDate));
        startDateMax.setDate(startDateMax.getDate() - 1);
        const startDateMaxStr = startDateMax.getFullYear() + '-' + formatDate(startDateMax.getMonth() + 1) +
            '-' + formatDate(startDateMax.getDate());

        startDate.setAttribute("max", startDateMaxStr)
    });
    initialDateSetup();

</script>

<!--&lt;!&ndash;Bootstrap Bundle with Popper &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

</body>