<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>[[${project.projectName}]]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Custom css for body-->
  
  <!-- do not include fragments that are not in use PARSING ERROR -->
  <!--<head th:replace="fragments :: content"></head>-->
  <link th:href="@{https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css}" rel='stylesheet' type="text/css" />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" href="/css/body.css"/>
</head>

<!--fragments-->
<header>
  <div th:replace="fragments :: header"></div>
</header>
<div th:replace="fragments :: project-and-sprint"></div>

<body>
<!--<header></header>-->
<div class="main">
  <br>
  <div class="page-title">
    <h2 id="name">[[${project.projectName}]] </h2>
  </div>
  <div>
    <br>
    <div th:if="${messageSuccess}" class="alert alert-success text-center">
      [[${messageSuccess}]]
    </div>
    <div th:if="${messageDanger}" class="alert alert-danger text-center">
      [[${messageDanger}]]
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      <input type="hidden" id="startDate" th:value="*{project.startDate}" />
      <input type="hidden" id="endDate" th:value="*{project.endDate}" />
      Duration: [[${#dates.format(project.startDate,'dd MMM yyyy')}]] to [[${#dates.format(project.endDate,'dd MMM yyyy')}]]
    </div>
    <div class="card-body">
      <h5 class="card-title">Project Description:</h5>
      <p class="card-text">[[${project.Description}]]</p>
    </div>
  </div>

  <br>
  <br>
  <div class="container-fluid d-flex p-0">
    <h3 class="pe-3">Sprints</h3>
    <div th:each="role: ${roles}">
        <!-- If a user is a STUDENT do not show the 'create', 'edit', 'delete' project buttons !-->
        <div th:if="${role} eq 'TEACHER' or ${role} eq 'COURSE_ADMINISTRATOR'">
          <a class="btn btn-outline-primary" id = "sprint-btn" th:href="@{ '/project/' + ${projectId} + '/newSprint'}">
            <img class="icon img-color-primary" src="/icons/create-icon.svg"/></a>
        </div>
     </div>
  </div>
  <br>

  <!-- Table for sprints -->
  <div class="table-border bdr">
    <table class="table table-bordered table-hover">
      <thead class = "table-light">
      <tr>
        <th scope="col" style="width:10%">Sprint Label</th>
        <th scope="col" style="width:10%">Sprint Name</th>
        <th scope="col" style="width:40%">Description</th>
        <th scope="col" style="width:10%">Start Date</th>
        <th scope="col" style="width:10%">End Date</th>
        <th style="width:20%"></th>
      </tr>
      </thead>
      <tbody>
      
      <th:block th:each="sprint : ${listSprints}">
        <tr>
          <td>[[${sprint.sprintLabel}]]</td>
          <td>[[${sprint.sprintName}]]</td>
          <td>[[${sprint.description}]]</td>
          <td>[[${#dates.format(sprint.startDate, 'dd MMM yyyy')}]]</td>
          <td>[[${#dates.format(sprint.endDate, 'dd MMM yyyy')}]]</td>
          <td>
            <div th:each="role: ${roles}">
              <!--               If a user is a STUDENT do not show the 'create', 'edit', 'delete' project buttons !-->
              <div th:if="${role} eq 'TEACHER' or ${role} eq 'COURSE_ADMINISTRATOR'">
                <a type="button" class="btn btn-outline-primary mr-2" id = "sprint-edit-btn" th:href="@{ ${projectId} + '/editSprint/' + ${sprint.sprintId}}">
                  <img class="icon img-color-primary" src="/icons/edit-icon.svg"/> Edit</a>
                <button type="button" class="btn btn-outline-secondary" id="sprint-del-btn" data-toggle="modal" data-target="#conformationModal" th:data-projectId = "${project.projectId}"
                        th:data-sprintId = "${sprint.sprintId}" th:data-name = "${sprint.sprintName}" th:onclick="updateSprintDetails(this.getAttribute('data-sprintId'), this.getAttribute('data-name'), this.getAttribute('data-projectId'))">
                  <img class="icon img-color-secondary" src="/icons/trash-icon.svg"/> Delete</button>
              </div>
            </div>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>

  <br>
  <div id="cal">
    <div id="calendarError" class="alert alert-danger text-center" hidden>
      
    </div>
    <div id='calendar'/>
  </div>
  <br>
</div>


<div class="modal fade" id="conformationModal" tabindex="-1" role="dialog" aria-labelledby="conformationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="conformationModalLongTitle">Delete Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="message"></p>
      </div>
      <div class="modal-footer">
        <form action="" method="post" id="deleteSprint">
          <button type= "submit" class="btn btn-outline-primary"><img class="icon img-color-secondary" src="/icons/trash-icon.svg"/> Delete</button>
        </form>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <img class="icon img-color-secondary" src="/icons/close-icon.svg"/> Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/javascript/project.js"></script>
<script src='/javascript/calendar.js'></script>
</body>
</html>
