<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom css for body-->
    <link rel="stylesheet" type="text/css" th:href="@{{apiPrefix}/css/body.css(apiPrefix=${apiPrefix})}" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css}" rel='stylesheet' type="text/css" />
  </head>

  <!--fragments-->
  <header>
    <div th:replace="fragments :: header"></div>
  </header>
  <div th:replace="fragments :: account"></div> 

  <body>
    <div class="main">
      <br>
      <div class="page-title">
        <h2 id="name">Users</h2>
      </div>
      <div>
        <br>
        <div th:if="${messageSuccess}" class="alert alert-success text-center">
          [[${messageSuccess}]]
        </div>
        <div th:if="${messageDanger}" class="alert alert-danger text-center">
          [[${messageDanger}]]
        </div>
      </div>

      <!-- Table for users -->
      <div class="table-border bdr">
        <table class="table table-bordered table-hover">
          <thead class = "table-light">
            <tr>
              <th scope="col" style="width:25%">Name</th>
              <th scope="col" style="width:25%">Username</th>
              <th scope="col" style="width:25%">Nickname</th>
              <th scope="col" style="width:25%">Roles</th>
            </tr>
          </thead>
          <!-- <tbody>
            <th:block th:each="">
              <tr th:id="">
                <td th:id=""></td>
                <td th:id=""></td>
                <td th:id=""></td>
                <td th:id=""></td>
              </tr>
            </th:block>
          </tbody> -->
        </table>
    </div>
  </div>

    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script th:inline="javascript">
      var apiPrefix = [[${apiPrefix}]];
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
