<tr th:id="'user' + ${user.userId} + 'Row'" th:fragment="userFragment">
        <td th:id="'user' + ${user.userId} + 'Username'">[[${user.username}]]</td>
        <td th:id="'user' + ${user.userId} + 'Name'">[[${user.firstName}]] [[${user.lastName}]]</td>
        <td th:id="'user' + ${user.userId} + 'Nickname'">[[${user.nickname}]]</td>
    <td th:id="'user' + ${user.userId} + 'Roles'">
        <ul style="list-style-type: none">
            <th:block th:each = "role : ${user.getRoles()}">
                <li style="padding-bottom:3%; display:inline" th:id="'user' + ${user.userId} + 'Role' + ${role}">
                    <button th:id="'user' + ${user.userId} + 'Role' + ${role} + Btn"
                            th:data-role = '${role}' th:data-userId = '${user.userId}'
                            th:data-roles="${user.getRoles()}"
                            th:disabled="${(currentUser.getRolesValueList().size() == 1 and currentUser.getRolesValueList().contains(0)) or (!currentUser.getRolesValueList().contains(2) and currentUser.getRolesValueList().contains(1) and role.getNumber() == 2) or user.getRoles().size() == 1}"
                            onclick="removeRole(this.getAttribute('data-role'), this.getAttribute('data-userId'))"
                            class="btn btn-outline-secondary btn-sm">
                        [[${role.getNumber() == 2 ? 'Course Admin' : role.name().substring(0,1) + role.name().substring(1, role.name.length()).toLowerCase()}]]
                        <img th:id="'user' + ${user.userId} + 'Role' + ${role} + img" width="13" height="13"
                             th:hidden="${(currentUser.getRolesValueList().size() == 1 and currentUser.getRolesValueList().contains(0)) or (!currentUser.getRolesValueList().contains(2) and currentUser.getRolesValueList().contains(1) and role.getNumber() == 2) or user.getRoles().size() == 1}"
                             class="icon" th:src="@{{apiPrefix}/icons/close-icon.svg(apiPrefix=${apiPrefix})}"/>
                    </button>
                </li>
            </th:block>
            <li th:if="${!user.getRoles().containsAll(roleList)}" class="list-inline-item">
                <div class="dropdown" th:hidden="!${adminOrTeacher == true}">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        +
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <th:block th:each="role : ${roleList}">
                            <div th:if="${!user.getRoles().contains(role)}" class="text-center">
                                <li><a class="dropdown-item" th:onclick="addRole([[${user.userId}]], [[${role}]])">[[${role}]]</a></li>
                            </div>
                        </th:block>
                    </ul>
                </div>
            </li>
        </ul>
    <td th:id="'user' + ${user.userId} + 'Action'">
        <a class="nav-link btn btn-outline-primary btn-evidence" th:classappend="${#httpServletRequest.getRequestURI().contains(apiPrefix + '/evidence/{user.userId}') ? 'active':''}" th:href="@{{apiPrefix}/evidence/{userId}(apiPrefix=${apiPrefix}, userId=${user.userId})}">
            <img class="icon img-color-secondary" th:src="@{{apiPrefix}/icons/file-earmark-text.svg(apiPrefix=${apiPrefix})}"/>
            Evidence
        </a>
</tr>