<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign-up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<main>
    <nav id="sidebar" class="sidebar"></nav>
    <div id="content">
        <p th:text="${username}" />
        <p th:text="${firstName}" />
        <p th:text="${lastName}" />
        <p th:text="${nickname}" />
        <p th:text="${email}" />
        <p th:text="${bio}" />
        <p th:text="${pronouns}" />
    </div>
</main>
</body>
</html>